main{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px;
    background: linear-gradient(141deg, #c5f9d7,#f7d486,#f27a7d);
}

.feedbackForm{
    width: 41vw;
    min-width: 279px;
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 20px;
    padding: 5%;
    background: white;
}

.feedbackForm input{
    width: 100%;
    height: 40px;
    border-radius: 7px;
    border: none;
    border-bottom: 2px solid grey;
    padding-left: 10px;
    border-radius: 0;
    margin: 10px 0;
}

input[type = "radio"]{
    width: 14px;
    height: 14px;
}
label[for = "cntry"]{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

#address , #content{
    width: 100%;
    max-width: 50vw;
    height: fit-content;
    min-height: 20px;
    padding: 5px;
    resize: none;
    border: none;
    border-bottom: 2px solid grey;

}
#address{
    height: 70px;
}

input[type = "reset"] , input[type = "submit"]{
    width: 36%;
    height: 30px;
    margin: 14px;
    padding: 7px;
    border: 1px solid black;
    background-color: black;
    color: white;
}