<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="shortcut icon" href="/static/images/favicon.jpeg" type="image/x-icon">
    <link rel="stylesheet" href="/static/aboutUsstyle.css">
</head>

<body>
    {% include "header.html" %}
    <main>

        <section class="about">
            <div>
                <div class="imagesAbout">
                    <!-- <img src="/static/images/introBg2-removebg-preview.png" alt="" loading="lazy"> -->
                    <img src="/static/images/books-removebg-preview.png" alt="" loading="lazy">
                </div>
                <div>
                    <h2>About <span>Us</span></h2>
                    <p>
                        Welcome to Ninetales Publishings, a distinguished name in the realm of literature and knowledge dissemination. With a commitment to excellence and a passion for fostering intellectual growth, Ninetales Publishings stands as a beacon of quality in the publishing industry.
                    </p>
                    <p>
                        Ninetales Publishings was founded with a commitment to excellence and imaginative leadership. As an ISO Certified International Publisher, the company is proud of its accomplishments. Our organisation, which was established in accordance with the Acts of the Labour Department, Government of Uttar Pradesh, India, follows strict quality control procedures to guarantee that each publication satisfies the highest standards of excellence.
                    </p>
                </div>
            </div>
            <!-- <div class="circle">

            </div> -->
        </section>

        <section class="about2">
            <div class="left">
                <p>In addition to our ISO certification, Ninetales Publishings is proud to be registered with the Ministry of Micro, Small, and Medium Enterprises, Government of India. This accreditation reflects our commitment to supporting and promoting small and medium enterprises, contributing to the growth and development of the publishing ecosystem in India.</p>
                <!-- <img src="/static/images/isologo.png" alt=""> -->
            </div>
            <div class="right">
                <p>At Ninetales Publishings, we offer a diverse range of services, including the publication of textbooks, edited books, conference proceedings, lab manuals, biographies, and novels. Our comprehensive catalogue spans various disciplines, including Management, Commerce, Computers, Economics, English, Science, Engineering, Sports, and more.</p>
                <!-- <img src="/static/images/isologo.png" alt=""> -->
            </div>
            <div class="left">
                <p>With the goal of making information available to everyone, Ninetales Publishing strives to offer high-quality publications at reasonable costs. Through a dedication to quality and accessibility, we want to enable people from diverse backgrounds to interact with academic materials and broaden their perspectives.</p>
            <!-- <img src="/static/images/isologo.png" alt=""> -->
            </div>
            <div class="right">
                <p>To achieve our goal of delivering the best works, Ninetales Publishings collaborates with intellectuals and experts from different fields. Our team comprises professionally trained personnel and quality consultants who are dedicated to upholding the highest standards of publishing excellence.</p>
                <!-- <img src="/static/images/isologo.png" alt=""> -->
            </div>
            <div class="left">
                <p>Join us in our journey to illuminate minds, inspire creativity, and enrich lives through the power of literature. Discover the world of Ninetales Publishings, where knowledge knows no bounds, and every story has the potential to change lives.</p>
                <!-- <img src="/static/images/isologo.png" alt=""> -->
            </div>
        </section>

        <!-- <section class="benefit vertical">
            <h2>Benifits</h2>
            <div class="cardBook">
                <h2>Benefit 1</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum aliquam, natus expedita omnis neque dolore nemo necessitatibus quod ipsa fugiat facilis asperiores repellendus magni vitae ipsam id odio inventore at dolores dolor voluptatem quidem! Quidem alias officia autem soluta assumenda explicabo accusantium sed aliquam sunt.</p>
            </div>
            <div class="cardBook">
                <h2>Benefit 2</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum aliquam, natus expedita omnis neque dolore nemo necessitatibus quod ipsa fugiat facilis asperiores repellendus magni vitae ipsam id odio inventore at dolores dolor voluptatem quidem! Quidem alias officia autem soluta assumenda explicabo accusantium sed aliquam sunt.</p>
            </div>
            <div class="cardBook">
                <h2>Benefit 3</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum aliquam, natus expedita omnis neque dolore nemo necessitatibus quod ipsa fugiat facilis asperiores repellendus magni vitae ipsam id odio inventore at dolores dolor voluptatem quidem! Quidem alias officia autem soluta assumenda explicabo accusantium sed aliquam sunt.</p>
            </div>
            <div class="cardBook">
                <h2>Benefit 4</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum aliquam, natus expedita omnis neque dolore nemo necessitatibus quod ipsa fugiat facilis asperiores repellendus magni vitae ipsam id odio inventore at dolores dolor voluptatem quidem! Quidem alias officia autem soluta assumenda explicabo accusantium sed aliquam sunt.</p>
            </div>
            <div class="cardBook">
                <h2>Benefit 5</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum aliquam, natus expedita omnis neque dolore nemo necessitatibus quod ipsa fugiat facilis asperiores repellendus magni vitae ipsam id odio inventore at dolores dolor voluptatem quidem! Quidem alias officia autem soluta assumenda explicabo accusantium sed aliquam sunt.</p>
            </div>
        </section> -->
    </main>

    {% include "footer.html" %}
</body>

</html>