<footer>
    <link rel="stylesheet" href="/static/footerstyle.css">

    <div>
        <div class="footerTable">
            <div class="footerColumns">
                <b>Quick links</b>
                <span><a href="/aboutUs">About Us</a></span>
                <!-- <span><a href="faq">Frequently Asked Questions</a></span> -->
                <span><a href="/feedback">Feedback</a></span>
                <span><a href="/submitBook">Submit Your Book</a></span>
                <span><a href="/contactUs">Contact Us</a></span>
            </div>
            <div class="footerColumns">
                <b>Contact Us</b>
                <div class="info">
                    <img src="/static/images/callIcon.png" alt="" loading="lazy">
                    <p>+91-98736 34306</p>
                </div>
                <div class="info">
                    <img src="/static/images/mailIcon.png" alt="" loading="lazy">
                    <p>info@ninetalespublishings.com</p>
                </div>
                <form action="https://wa.me/9136727648" target="_blank" method="get">
                    <div class="whatsappBtn">
                        <button type="submit">
                            Chat with us
                        </button>
                    </div>
                </form>
            </div>

            <div class="certifications">
                <img src="/static/images/msmeLogo2.png" alt="" loading="lazy">
                <img src="/static/images/isologo.png" alt="" loading="lazy">
            </div>
            <!-- <div class="footerColumns">
                <b>Our Offices</b>
                <span><a href="#">Help Centre</a></span>
                <span><a href="#">Privacy Policy</a></span>
                <span><a href="#">Cookies Policy</a></span>
                <span><a href="#">Terms And Conditions</a></span>
            </div> -->
        </div>
        <div>
            <img src="/static/images/favicon.jpeg" alt="Ninetale" loading="lazy">
            <div class="icons">
                <p>Follow us on</p>
                <div>
                    <a href="#"><img src="/static/images/facebookColor.svg" alt="" loading="lazy"></a>
                    <a href="#"><img src="/static/images/instagramColor.svg" alt="" loading="lazy"></a>
                    <a href="#"><img src="/static/images/linkedinColor.svg" alt="" loading="lazy"></a>
                </div>
            </div>
        </div>
    </div>


</footer>