<header>
    <link rel="stylesheet" href="/static/headerstyle.css">
    <nav class="logoBar">
        <p class="headerLogo"><a href="/"><img src="/static/images/logo.png" alt=""></a></p>
        <ul class="headerItems">
            <li><a href="/">Home</a></li>
            <li><a href="/books">Books</a></li>
            <!-- <li><a href="#">Authors</a></li> -->
            <!-- <li><a href="#">Services</a></li> -->
            <li><a href="/aboutUs">About Us</a></li>
            <li><a href="/contactUs">Contact Us</a></li>
            <li><a href="/submitBook" id="submitBookbtn">Submit Your Book</a></li>
        </ul>
        <div class="HamburgerBar">
            <span id="BarIcon">
                <span class="Bar Bar1"></span>
                <span class="Bar Bar2"></span>
                <span class="Bar Bar3"></span>
            </span>

            <div class="menuItems">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/books">Books</a></li>
                    <!-- <li><a href="#">Authors</a></li> -->
                    <!-- <li><a href="#">Services</a></li> -->
                    <li><a href="/aboutUs">About Us</a></li>
                    <li><a href="/contactUs">Contact Us</a></li>
                    <li><a href="/submitBook">Submit Your Book</a></li>

                </ul>
            </div>
        </div>
    </nav>

    <script src="/static/headerscript.js"></script>
</header>